{% extends 'base.html' %}

{% block title %}Página Inicial - Biblioteca Olavo Bilac{% endblock %}

{% block content %}
<div class="content-section my-5">
    <div class="row">
        <!-- Coluna de texto e informações -->
        <div class="col-md-6">
            <h1 class="header-title">Biblioteca Olavo Bilac</h1>
            <p class="text-justify">A Biblioteca Pública Municipal Olavo Bilac tem como missão formar leitores através dos serviços e ações
                que proporcionem aos indivíduos o amplo acesso à informação, ao lazer e à cultura. Seu acervo conta com
                variadas obras, como enciclopédias, dicionários, livros de literatura, de interesse geral e históricos,
                periódicos, DVDs, CDs e alguns exemplares em braile. É composta pelos setores de atendimento ao público,
                empréstimo e cadastro de leitores, Espaço Infantil “Via Láctea”, Acervo de jornais locais, Sala de
                leitura, Espaço para pesquisa e estudo, Espaço para exposições e Estação Digital.</p>
            <div class="mt-4">
                <p><strong>Horário:</strong> Das 9:00h às 17:30h, sem fechar ao meio-dia.</p>
                <p><strong>Endereço:</strong> Rua Pinheiro Machado, nº 152 - Centro, Farroupilha - RS</p>
                <p><strong>Telefone:</strong> (54) 99632-9829</p>
                <p><strong>Email:</strong> biblioteca@farroupilha.rs.gov.br</p>
            </div>
        </div>

        <!-- Coluna do botão de acervo -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <a href="{% url 'lista_livros' %}" class="btn btn-custom btn-lg">Acesse o Acervo</a>
        </div>
    </div>

    <!-- Seção de últimas notícias -->
    <div class="row mt-5">
        <h2 class="text-center w-100">Últimas Notícias</h2>
        {% for noticia in ultimas_noticias %}
            <div class="noticia">
                {% if noticia.imagem %}
                <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                {% endif %}
                <h3>{{ noticia.titulo }}</h3>
                <p>{{ noticia.conteudo|truncatewords:30 }}</p>
                <a href="{% url 'detalhe_noticia' noticia.id %}">Leia mais</a>
            </div>
    {% endfor %}


    <!-- Botão para acessar mais notícias -->
    <div class="text-center mt-4">
        <a href="{% url 'noticias' %}" class="btn btn-custom">Acesse mais notícias</a>
    </div>
</div>
{% endblock %}