{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Acervo de Livros</h1>

    <!-- Filtros de pesquisa -->
    <form method="get" class="form-inline mb-4">
        <input type="text" name="search" class="form-control mr-2" placeholder="Pesquisar por nome"
            value="{{ termo_pesquisa }}">
        <input type="text" name="autor" class="form-control mr-2" placeholder="Autor" value="{{ autor_filtro }}">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <!-- Exibição dos livros em cards -->
    <div class="row">
        {% if livros %}
        {% for livro in livros %}
        <div class="col-md-3 mb-4">
            <div class="card h-100 d-flex flex-column">
                <div class="card-img-container" style="padding-top: 15px; height: 250px; overflow: hidden;">
                    <img src="{{ livro.capa_url }}" class="card-img-top w-100 h-100" style="object-fit: contain;"
                        alt="{{ livro.nome }}">
                </div>
                <div class="card-body d-flex flex-column">
                    <h6 class="card-title">{{ livro.nome }}</h6>
                    <p class="card-text">Autor: {{ livro.autor }}{% if livro.co_autor %} e {{ livro.co_autor }}{% endif %}</p>
                    <a href="{% url 'detalhes_livro' livro.id %}" class="btn btn-primary mt-auto">Ver mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Nenhum livro encontrado.</p>
        {% endif %}
    </div>
</div>
{% endblock %}